body{
    background-color: aliceblue;
    max-height: 100vh;
    max-width: 100%;
    overflow: hidden;
}
.container{
    display: flex;
 
}
.lhs{
    border: 1px solid black;
    /* margin: 40px 250px ; */
    margin: 20px 0px 20px 400px ;
    padding: 20px;
    width:15%;
}
.lhs input{
    outline: none;
    margin-left: 20px;
}
.lhs button{
   /* margin-top: 20px; */
   margin-left: 70px;
   padding: 5px;
   outline: none;
}
.rhs{
    border: 1px solid black;
    /* margin: 40px  50px; */
    margin: 20px 0px 20px 20px;
    padding: 40px;
    width:20%;
    text-align: center;
    /* visibility: hidden; */
}

.rhs_visible{
    visibility: visible;
} 

#scrollable {
     height: 340px;
     width: 60%;
     margin-left:290px ;
     overflow-y: scroll;
     /* visibility: hidden;   */
}

/* .scrollable_visible {
    visibility: visible;
}  */

.tablediv{
    position: -webkit-sticky;
    position: sticky;
    top: -1px; 
    background-color: gray ;
} 


table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}

/* #table {
    border: 1px solid black; */
    /* height: auto;
    width: 60%; */
    /* margin-left: 250px; 
} */

/* .thead{
    width: 200px;
} */

